<div class="page-head">

    <div class="page-title">
        <h1>Bootstrap Form Controls
            <small>bootstrap inputs, input groups, custom checkboxes and radio controls and more</small>
        </h1>
    </div>
</div>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Form Stuff</span>
    </li>
</ul>