<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item  active">
                <a href="http://reactivos.com.dev/" class="nav-link nav-toggle">
                    <i class="fa fa-home"></i>
                    <span class="title">Agence</span>
                </a>
            </li>
            <li class="">
                <a href="http://reactivos.com.dev/configuracion/materia" class="nav-link nav-toggle">
                    <i class="icon-book-open"></i>
                    <span class="title">Projetos</span>
                </a>
            </li>
            <li class="">
                <a href="http://reactivos.com.dev/registro/reactivos" class="nav-link nav-toggle">
                    <i class="fa fa-cubes"></i>
                    <span class="title">Administrativo</span>
                </a>
            </li>
            <li class="">
                <a href="http://reactivos.com.dev/registro/pregunta" class="nav-link nav-toggle">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="title">Comercial</span>
                </a>
            </li>
            <li class="">
                <a href="http://reactivos.com.dev/registro/pregunta" class="nav-link nav-toggle">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="title">Financeiro</span>
                </a>
            </li>
            <li class="">
                <a href="http://reactivos.com.dev/registro/pregunta" class="nav-link nav-toggle">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="title">Usuário</span>
                </a>
            </li>
        </ul>
    </div>
</div>
